# ---------------------------------
# Python cache and compiled files
# ---------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ---------------------------------
# Virtual environments
# ---------------------------------
.venv/
venv/
env/
workzone/

# ---------------------------------
# Jupyter
# ---------------------------------
.ipynb_checkpoints/

# ---------------------------------
# Data
# ---------------------------------
# Ignore everything inside data
data/*

# Keep only demo videos
!data/demo/
!data/demo/*.mp4

# ---------------------------------
# Training outputs and artifacts
# ---------------------------------
runs/
runs_workzone/
models/
workzone_yolo/

# ---------------------------------
# Logs and cache
# ---------------------------------
*.log
wandb/
.cache/
.tmp/
*.tmp

# ---------------------------------
# OS and editor files
# ---------------------------------
.DS_Store
Thumbs.db

.vscode/
.idea/
